.myselect {
  position: relative;
  font-family: Arial;
  background-color: DodgerBlue;
  align-self: center;
  width: 80%;
  height:30px;
  color: white;
  size: 16px;;
}

.myselect:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

body {
  background-color: gold;
}


