<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/mycss.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Plan</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1>Completed Courses</h1> 
        </div>
  
        <div>
        	<ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
              </ul>
              
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                        {% for j in range(8) %}
                        <div class="row" >
                                {% for i in range(3) %}
                                <div class= "card col-sm-3 pull-left">
                                              <a href="#" class="btn btn-primary"  style="width: 250px;height:80px;">Go somewhere</a>
                                </div>
                               {% endfor %}
                        </div>
                        {% endfor %}
                </div>
                <div id="menu1" class="tab-pane fade">
                        {% for j in range(8) %}
                        <div class="row">
                                {% for i in range(8) %}
                                <div class= "card col-sm-1">
                                        <div class="card-body">
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                </div>
                               {% endfor %}
                        </div>
                        {% endfor %}
                </div>
                <div id="menu2" class="tab-pane fade">
                        {% for j in range(8) %}
                        <div class="row">
                                {% for i in range(8) %}
                                <div class= "card col-sm-1">
                                        <div class="card-body">
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                </div>
                               {% endfor %}
                        </div>
                        {% endfor %}
                </div>
              </div>
</div>
       </div>
    </div>
          
</body>
</html>