<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/mycss.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Plan</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1>Completed Courses</h1> 
        </div>
        <div class="row">
                {% for i in range(8) %}
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
               {% endfor %}
              
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">


                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                    <div class="card-body">
    
    
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
        <div class="row">
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">


                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                    <div class="card-body">
    
    
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
        <div class="row">
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">


                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                    <div class="card-body">
    
    
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
        <div class="row">
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                <div class= "card col-sm-1">
                        <div class="card-body">
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                <div class="card-body">


                      <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class= "card col-sm-1">
                    <div class="card-body">
    
    
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
        
       </div>
    </div>
          
</body>
</html>