<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Completed Courses</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1>UNSW Degree Planner</h1> 
        </div>
    <div style = "border-color: coral; border-style: solid;" >
        <div class="col-sm-4" style = "border-color: red; border-style: solid;">
            Test 1
            <div class="btn-group">
                <button>T1</button>
                <button>T2</button>
                <button>T3</button>
            </div>
        </div>
        <div class="col-sm-4" style = "border-color: red; border-style: solid;">
            Test 2
            <div class="btn-group">
                <button>T1</button>
                <button>T2</button>
                <button>T3</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div class="col-sm-4">
            <H2>Trimester 1</H2>
        </div>
    
        <div class="col-sm-4">
            <H2>Trimester 2</H2>
        </div>
        <div class="col-sm-4">
            <H2>Trimester 3</H2>
        </div>

    </div>
</div>       
</body>
</html>