<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
        	<h1>UNSW Degree Planner</h1> 
			
      </div>

<Form method="POST">

  <div>
    <select id="Faculty_List" name="Faculty" onchange="this.form.submit()" required>

      {% for i in faculties %}
        <option id="{{i}}" name="Faculty"><a class="dropdown-item" href="#">{{i}}</a></option>
      {% endfor %}
      </select>
  </div>

  <div>
      <select id="School_List" required>
        {% if schools %}
          {% for school in schools %}
            <option id="{{school}}" name="Schools"><a class="dropdown-item" href="#">{{school}}</a></option>
          {% endfor %}
        {% endif %}
        }
      </select>
  </div>

      <select id="status" required>
        <option id="Current" name="Schools"><a class="dropdown-item" href="#">Current</a></option>
        <option id="New" name="Schools"><a class="dropdown-item" href="#">Starting 2019</a></option>
      </select>

    <button type="submit">Confirm</button>
</Form>

  <script>
    function getFaculty(){
      var e = document.getElementById("Faculty_List");
      var faculty = e.options[e.selectedIndex].id;
      console.log(faculty);
    }

    function getSchool(){
      var e = document.getElementById("School_List");
      var school = e.options[e.selectedIndex].id;
      console.log(school);
    }
  </script>


</body>
</html>
