<!DOCTYPE html>
<html lang="en">
<head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
        <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Faculty
                </button>
                <div class="dropdown-menu">
               
                </div>
                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Science</a></li>
                                <li><a class="dropdown-item" href="#">Engineering</a></li>
                                <li><a class="dropdown-item" href="#">Buisness</a></li>
                                <li><a class="dropdown-item" href="#">Law</a></li>
                                <li><a class="dropdown-item" href="#">Medicine</a></li>
                                <li><a class="dropdown-item" href="#">Art</a></li>
                 </ul>
        </div>

        <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Schools
                        </button>
                        <div class="dropdown-menu">
                       
                        </div>
                        <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Computer Science</a></li>
                                        <li><a class="dropdown-item" href="#"> Mechanical Engineering</a></li>
                                        <li><a class="dropdown-item" href="#"> Electrical Engineering</a></li>
                                        <li><a class="dropdown-item" href="#"> Lebron Engineering</a></li>
                         </ul>
                </div>

</body>
</html>