<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <link rel="stylesheet" href="../static/css/mycss.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Plan</title>
</head>
<body>
    <div class="container">
            <div class="jumbotron jumbotron-fluid">
                    <img src="{{ url_for('static', filename='assets/UNSW.png') }}" alt="UNSW Logo" Style="float: left;">
            
                    <h1 style="text-align: right;">Degree Planner</h1> 
                    <br>
                    <p  style="text-align: right;" class="lead">Uni is hard work. Don't let enrolling be.</p> 
            </div>
    <div class="row" style = "border-color: coral; border-style: solid; " >
        <div class="card"  style="border-color: grey; border-style: solid;">
            <div class="card-body" style="width: 18;">
                    <h3 class="card-title">COMP1511</h3>
            </div>
            <div class="btn-group" style="alignment:right">
                <button class="btn btn-info" type="submit" name="selectedButton" id="{{subject}}_T1">T1</button>
                <button class="btn btn-info">T2</button>
                <button class="btn btn-info">T3</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div class="col-sm-4">
            <H2>Trimester 1</H2>

        </div>
    
        <div class="col-sm-4">
            <H2>Trimester 2</H2>
        </div>
        <div class="col-sm-4">
            <H2>Trimester 3</H2>
        </div>

    </div>
          
</body>
</html>