<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <link rel="stylesheet" href="../static/css/mycss.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Plan</title>
</head>
<body>
    <div class="container">
            <div class="jumbotron jumbotron-fluid">
                    <img src="{{ url_for('static', filename='assets/UNSW.png') }}" alt="UNSW Logo" Style="float: left;">
            
                    <h1 style="text-align: right;">Degree Planner</h1> 
                    <br>
                    <p  style="text-align: right;" class="lead">Uni is hard work. Don't let enrolling be.</p> 
            </div>
<form method="POST">
    <div class="row" style = "border-color: coral; border-style: solid; " >
        {% for c in courses %}
        <div class="card col-sm-3"  style="border-color: grey; border-style: solid; ">
            <div class="card-body">
                    <h3 class="card-title">{{c}}</h3>
            </div>
            <div class="btn-group">
                {% if courses[c][0] == "1" %}
                <button class="btn btn-info" type="submit" name="selectedButton" value="{{c}}_T1">T1</button>
                {% else %}
                <button class="btn btn-info" type="submit" name="selectedButton" disabled>T1</button>
                {% endif %}
                {% if courses[c][1] == "1" %}
                <button class="btn btn-info" type="submit" name="selectedButton" value="{{c}}_T2">T2</button>
                {% else %}
                <button class="btn btn-info" type="submit" name="selectedButton" disabled>T2</button>
                {% endif %}
                {% if courses[c][2] == "1" %}
                <button class="btn btn-info" type="submit" name="selectedButton" value="{{c}}_T3">T3</button>
                {% else %}
                <button class="btn btn-info" type="submit" name="selectedButton" disabled>T3</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</form>
    <br>
    <br>
    <div>
        <div class="col-sm-3">
            <H2>Trimester 1</H2>
            {% for i in t1 %}
            <div style="border-color: gray; border-style: solid; background-color: lightgray; ">
                <div class="card-body">
                        <h3 class="card-title">{{i}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <div class="col-sm-3">
            <H2>Trimester 2</H2>
            {% for i in t2 %}
            <div style="border-color: gray; border-style: solid;  background-color: lightgray; ">
                <div class="card-body">
                        <h3 class="card-title">{{i}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <H2>Trimester 3</H2>
            {% for i in t3 %}
            <div style="border-color: gray; border-style: solid;  background-color: lightgray; ">
                <div class="card-body">
                        <h3 class="card-title">{{i}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
          
</body>
</html>
